@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<picture class="picture">
    <img class="imgHome" src="~/Img/Home/7.jpg" data-object-fit="cover" />
</picture>

<div class="categoryPicture">
    <div>
        <figure class="figure">
            <a asp-page="/Motorcycles/TouringBikes">
                <img class="figure-img" src="~/Img/Home/12.jpg" />
                <figcaption class="figure-caption text-center btn-outline-light">Touring</figcaption>
            </a>
        </figure>
    </div>
    <div>
        <figure class="figure">
            <a asp-page="/Motorcycles/SportBikes">
                <img class="figure-img" src="~/Img/Home/5.jpg" />
                <figcaption class="figure-caption text-center btn-outline-light">Sport</figcaption>
            </a>
        </figure>
    </div>
    <div>
        <figure class="figure">
            <a asp-page="/Motorcycles/CustomBikes">
                <img class="figure-img" src="~/Img/Home/6.jpg" />
                <figcaption class="figure-caption text-center btn-outline-light">Custom</figcaption>
            </a>
        </figure>
    </div>
</div>